
.container{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.listContainer{
  background-color: #BCCCDC;
  height: 90vh;
  border-radius: 10px;
  width: 850px;
}
.createTag{
  text-align: end;
  margin-right: 30px;
}
.listTitle{
  padding-top: 30px;
}

.ulTag{
  list-style-type: none;
  padding: 0 0 0 0;
}

.liTag{
  margin: 0 30px 15px 30px;
  display: flex;
  justify-content: space-between;
}